<div class="search">
<%= form_tag lists_path, method: :get do %>
 <%= text_field_tag :query,
   params[:query],
   class: "form-control",
   placeholder: "Search lists"
 %>
<% end %>
</div>

<% @lists.each do |l| %>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <%= link_to list_path(l), class: 'link-to-text-color' do %>
      <div class="restaurant">
        <div class="restaurant-photo" style="background: url(<%= l.photo %>) center / cover no-repeat;"></div>
        <div class="restaurant-info">

          <div class="restaurant-details">
            <div class="restaurant-name">
              <%= l.name %>
            </div>
            <div class="restaurant-cuisine">
              <p> By <%= l.user.first_name %> <%= l.user.last_name %> </p>
            </div>
          </div>
          <div class="restaurant-owner">
            <span><img class="avatar-md" src="<%= cl_image_path l.user.photo %>"></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

