<div class="your-bookmarks">
  <h4>You have <span id="update_count"><%= @items.count %></span> bookmarks</h4>
  <%= link_to "Back to my profile", profile_path(current_user) %>
</div>
<% @items.each do |item| %>
  <div class="col-xs-12">
      <div class="items-wrapper">
      <div class="item">
          <div class="item-header">
            <div class="<%= if item.list.list_type == 'albums'
            "item-photo-album"
            elsif item.list.list_type == 'movies'
            "item-photo-movie"
            elsif item.list.list_type == 'restaurants'
            "item-photo"
            end %>"
            style="background-image: url('<%=item.photo? ? cl_image_path(item.photo) : cl_image_path(item.remote_photo) %>')"></div>
          </div>
          <div class="item-info">
            <div class="item-details">
              <div class="item-name-bookmark">
              <div class="item-name">
                <h4><%= item.name  %></h4>
              </div>
               <div class="item-icons">
                <div id="bm_<%=item.id%>">
                  <% if current_user.bookmarked?(item) %>
                  <%= link_to list_item_bookmark_path(item.list, item, current_user), remote: true, method: :delete, class: "liked" do %>
                  <i class="fas fa-bookmark bookmark-but"></i>
                  <% end %>
                  <% else %>
                  <%= link_to list_item_bookmarks_path(item.list, item, current_user), remote: true, method: :post do %>
                  <i class="fas fa-bookmark bookmark-but"></i>
                  <% end %>
                  <% end %>
                </div>
              </div>
              </div>
              <div class="item-description">
                <p><%=item.description%></p>
              </div>
              <div class="list-link">
                <p><em>In: "<%= item.list.name %>"</em></p>
                <%= link_to "See list", list_path(item.list), class:"btn btn-primary btn-sm" %>
              </div>
          </div>
        </div>
      </div>
    </div>
<% end %>
