<!-- <h3>Recommendations from People you Trust!</h3> -->
<!-- </div>
<div>
<br> -->


<div class="horizontal-scrolling-banner">
  <div class="sample-item-1" style="background-image: url(<%=image_path 'Brunch.spot.1.jpg'%>);"></div>
  <div class="sample-item-2"style="background-image: url(<%=image_path 'Christmas.movies.jpg'%>);"></div>
  <div class="sample-item-3"style="background-image: url(<%=image_path 'Reggae.1.jpg'%>);"></div>
  <div class="sample-item-4"style="background-image: url(<%=image_path 'Thriller.movies.jpg'%>);"></div>
  <div class="sample-item-5"style="background-image: url(<%=image_path 'Alt.rock.2.jpg'%>);"></div>
<!-- </div>
<div>
<br> -->
</div>

<!--  -->

<div class="container_info">
  <div class="home-start-now">
    <%= link_to "START NOW", lists_path, class:"btn btn-primary" %>
  </div>
  <div class="home-about">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-detail">
          <h3>Recommendation lists</h3>
          <i class="fas fa-list"></i>
          <p>Create your own awesome Re:co Lists!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-detail">
          <h3>Add friends</h3>
          <i class="fas fa-users"></i>
          <p>The people you trust!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-detail">
          <h3>Discover new things</h3>
          <i class="fas fa-search"></i></i>
          <p>See what your friends are sharing!</p>
        </div>
      </div>
    </div>
  </div>
  </div>


