<!-- <h3>Recommendations from People you Trust!</h3> -->
<div class="horizontal-scrolling-banner">
  <div class="sample-item-1"><%= image_tag "Alt.rock.2.jpg", height: 200, width: 280, class: "image-banner" %>
</div>
  <div class="sample-item-2"><%= image_tag "Brunch.spot.1.jpg", height: 200, width: 280, class: "image-banner" %></div>
  <div class="sample-item-3"><%= image_tag "Christmas.movies.jpg", height: 200, width: 280, class: "image-banner" %></div>
  <div class="sample-item-4"><%= image_tag "Thriller.movies.jpg", height: 200, width: 280, class: "image-banner" %></div>
  <div class="sample-item-5"><%= image_tag "Reggae.1.jpg", height: 200, width: 280, class: "image-banner" %></div>
  <div class="sample-item-1"><%= image_tag "Alt.rock.2.jpg", height: 200, width: 280, class: "image-banner" %>
</div>
  <div class="sample-item-2"><%= image_tag "Brunch.spot.1.jpg", height: 200, width: 280, class: "image-banner" %></div>
  <div class="sample-item-3"><%= image_tag "Christmas.movies.jpg", height: 200, width: 280, class: "image-banner" %></div>
  <div class="sample-item-4"><%= image_tag "Thriller.movies.jpg", height: 200, width: 280, class: "image-banner" %></div>
  <div class="sample-item-5"><%= image_tag "Reggae.1.jpg", height: 200, width: 280, class: "image-banner" %></div>
<!-- </div>
<div>
<br> -->
</div>

<div class="container_info">
  <div class="home-about">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-detail">
          <h3>Recommendation Lists</h3>
          <i class="fas fa-list"></i>
          <p>Create your own awesome Re:co Lists!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-detail">
          <h3>Add Friends</h3>
          <i class="fas fa-users"></i>
          <p>The people you trust!</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="home-detail">
          <h3>Sharing is Caring!</h3>
          <i class="fas fa-share-alt"></i>
          <p>Share your recommendations with people you trust!</p>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    </div>
  </div>


