<%= simple_form_for [@list, @item] do |f| %>
    <%= f.association :list, collection: List.where(user_id: current_user), include_blank: false %>
    <%= f.input :name, label: "Title", autocomplete: :off %>
    <%= f.input :photo %>
    <%=f.input :remote_photo, as: :hidden %>
    <div id="backdrop"></div>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :description, input_html: { maxlength: 200 } %>
    <%= f.submit "Add item", class: "btn btn-primary" %>
<% end %>

<!-- add hidden field "remote_photo" -->
<!-- add remote_photo field to Item model (string field) -->
<!-- populate (change value) hidden field in the js file -->
