<div id="hide">
  <%= simple_form_for [@list, @item] do |f| %>
      <%= f.association :list, collection: List.where(user_id: current_user), include_blank: false %>
      <%= f.input :name, label: "Title", autocomplete: :off %>
      <!-- added hidden field "remote_photo" -->
      <%=f.input :remote_photo, as: :hidden %>
      <div class="preview-image" id="backdrop"></div>
      <label>
        <div class="custom-photo-btn">
          <%= f.input :photo, label: false %>
          <%= f.input :photo_cache, as: :hidden %>
          <span class="btn btn-primary">Custom Photo</span>
        </div>
      </label>
      <%= f.input :description, input_html: { maxlength: 200 } %>
      <%= f.submit "Save item", class: "btn btn-primary" %>
  <% end %>
</div>
