<% @items.order(created_at: :desc).each do |i| %>
  <div class="col-xs-12">
      <div class="item">
          <div class="item-header">
            <div class="<%= (i.list.list_type == 'albums' || i.list.list_type == 'movies') ? 'item-photo-album-movie' : 'item-photo'%>" style="background-image: url('<%=i.photo? ? cl_image_path(i.photo) : cl_image_path(i.remote_photo) %>')">
            </div>
          </div>
          <div class="item-info">
            <div class="item-details">
              <div class="item-name">
                <h4><%= i.name  %></h4>
              </div>
              <div class="item-description">
                <p><%=i.description%></p>
              </div>

              <% if user_signed_in? && current_user.id == i.list.user_id %>
                <%= render partial: "items/ownericons", locals: {item: i} %>
              <% else %>
                <%= render partial: "items/viewericons", locals: {item: i} %>
              <% end %>

              <%= render partial: "items/comments", locals: {item: i, list: @list, comment: @comment} %>
          </div>
      </div>
    </div>
<% end %>

