<% @items.order(created_at: :desc).each do |i| %>
  <div class="col-xs-12">
    <div class="items-wrapper">
      <div class="item">
        <div class="item-header">
          <div class="<%= if i.list.list_type == 'albums'
          "item-photo-album"
          elsif i.list.list_type == 'movies'
          "item-photo-movie"
          elsif i.list.list_type == 'restaurants'
          "item-photo"
          end %>"
          style="background-image: url('<%=i.photo? ? cl_image_path(i.photo) : cl_image_path(i.remote_photo) %>')"></div>
        </div>
        <div class="item-info">
          <div class="item-details">
            <div class="item-name">
              <h4><%= i.name  %><span class="colon-green"> :</span></h4>
              </div>
              <div class="item-description">
              <p><%=i.description%></p>
            </div>

            <% if user_signed_in? && current_user.id == i.list.user_id %>
            <%= render partial: "items/ownericons", locals: {item: i} %>
            <% else %>
            <%= render partial: "items/viewericons", locals: {item: i} %>
            <% end %>


            <div class="comment-container collapse" id="<%="collapse#{i.id}" %>">
            <%= render partial: "comments/commentform", locals: {list: i.list, item: i, comment: @comment} %>
              <div id="<%="messages-container#{i.id}" %>">
                <% i.comments.order(created_at: :desc).each do |c| %>
                  <%= render partial: "comments/comment", locals: {list: i.list, item: i, comment: c } %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
