<div class="item-icons">
  <div class="list-edit-icon">
   <%= link_to edit_list_item_path(item.list, item) do %>
    <i class="fas fa-pencil-alt"></i>
    <% end %>
  </div>
  <div class="list-delete-icon">
   <%= link_to list_item_path(item.list, item), method: :delete, data: { confirm: 'Are you sure?' } do %>
       <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
  <div class="list-comment-icon">
   <a data-toggle="collapse" href="<%= "#collapse#{item.id}" %>" role="button" aria-expanded="false" aria-controls="<%="collapse#{item.id}" %>"><i class="far fa-comment"></i></a>
  </div>
  <div id="bm_<%=item.id%>">
    <%= render partial: "bookmarks/buttonbookmarks", locals: {list: item.list, item: item, user: current_user} %>
  </div>
</div>

