<div class="item-icons">
  <div class="likes-container">
    <div class="like-but">
      <%= div_for(item, class: "like-but") do %>
      <%= render partial: "likes/buttonlikes", locals: { item: item } %>
      <% end %>
    </div>
    <div id="<%="likes-count#{item.id}"%>">
      <%= item.likes.size %>
    </div>
  </div>
  <div class="list-comment-icon">
   <a data-toggle="collapse" href="<%= "#collapse#{item.id}" %>" role="button" aria-expanded="false" aria-controls="<%="collapse#{item.id}" %>"><i class="far fa-comment"></i></a>
  </div>
  <div id="bm_<%=item.id%>">
  <%= render partial: "bookmarks/buttonbookmarks", locals: {list: item.list, item: item, user: current_user} %>
  </div>
</div>
